<script setup lang="ts">
import PToolbar from "@/components/PToolbar.vue";
import MyWorks from "@/components/MyWorks.vue";
import { mdiGmail } from "@mdi/js";
import { mdiPhone } from "@mdi/js";
const MyWorksList = [
  {
    img: "https://cdn.discordapp.com/attachments/935840724484767776/1054516618144796762/Screenshot_2022-12-20_043223.png",
    name: "FruitShop",
    sub: "This is my mini project in Java Swing",
    des: "This project is to build a Graphic User Interface using java swing with Netbeans.This project is to create an online fruit shop. inspired by Stardew games.",
  },
  {
    img: "https://cdn.discordapp.com/attachments/935840724484767776/1054535217257394257/Screenshot_2022-12-20_060334.png",
    name: "My Work",
    sub: "This is my work programming",
    des: "i make a program to calculate Bmi using VueJs.",
  },
  {
    img: "https://cdn.discordapp.com/attachments/935840724484767776/1054110957351219240/Ramfuen_rice_poster.png",
    name: "My ArtWork",
    sub: "This is my ArtWork",
  },
];
</script>

<template>
  <PToolbar />
  <!-- <v-card>
    <v-toolbar color="purple" dark flat> </v-toolbar>
    
  </v-card> -->
  <div class="home">
    <v-img
      src="https://dx35vtwkllhj9.cloudfront.net/netflix/wednesday-addams-nevermore-academy/images/share.png"
    >
      <v-container>
        <v-row>
          <v-col>
            <div class="head-font">
              <h1>Welcome to my portfolio</h1>
              <h2>
                I am studying at Faculty of informatics, Burapha University
              </h2>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-img>
  </div>

  <v-container>
    <v-flex>
      <v-row>
        <v-col>
          <div class="aboutme">
            <h1 style="color: blueviolet">About Me</h1>
            <p>
              Hi my name is Tanitha Sodata I love programming, drawing and
              editing.
            </p>
          </div>
        </v-col>
        <v-col>
          <div class="abtimg">
            <img
              src="https://media.discordapp.net/attachments/935840724484767776/1052988549898702858/1_-removebg-preview.png"
            />
          </div>
        </v-col>
      </v-row>
    </v-flex>
  </v-container>

  <v-container>
    <h1 style="font-size: 28px; color: blueviolet">My Works</h1>
    <v-row>
      <v-col v-for="(item, index) of MyWorksList" :key="index">
        <MyWorks
          :img="item.img"
          :name="item.name"
          :sub="item.sub"
          :des="item.des"
        ></MyWorks>
      </v-col>
    </v-row>
  </v-container>

  <v-container>
    <h1 style="font-size: 28px; color: blueviolet">My Contact</h1>
    <br />
    <br />
    <v-row no-gutters class="justify-center text-center">
      <v-col col="2" style="height: 50px">
        <v-card flat><v-icon :icon="mdiGmail" />64160134@gmail.com </v-card>
      </v-col>
      <v-col col="2" style="height: 50px">
        <v-card flat><v-icon :icon="mdiPhone" />061-637-2710</v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.home {
  width: 50%px;
  height: 500px;
  background-color: black;
}
.head-font {
  text-shadow: 2px 2px 4px #000000;
  margin-left: -100px;
  margin-top: 150px;
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.aboutme {
  margin-top: 220px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 31px 31px 62px #d9d9d9, -31px -31px 62px #ffffff;
}
.abtimg {
  border-radius: 150px;
  /* border-style: solid; */
  background: black;
}
.my-works {
  padding: 50px;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.work2 {
  margin-top: 80px;
}
</style>
