<script setup lang="ts">
import { ref } from "vue";
const props = defineProps<{
  img: string;
  name: string;
  sub?: string;
  des?: string;
}>();
</script>

<template>
  <v-card elevation="5" outlined shaped class="mx-auto" max-width="344">
    <v-img :src="props.img" height="200px"></v-img>

    <v-card-title>{{ props.name }}</v-card-title>

    <v-card-subtitle>{{ props.sub }}</v-card-subtitle>

    <v-spacer></v-spacer>

    <v-expand-transition>
      <div>
        <v-divider></v-divider>

        <v-card-text>{{ props.des }}</v-card-text>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<style></style>
