<script lang="ts" setup></script>

<template>
  <v-app-bar flat absolute color="purple">
    <v-layout justify-center>
      <v-container fluid>
        <v-layout>
          <v-spacer></v-spacer>
          <v-toolbar-items class="text-right">
            <v-btn class="colorBtn">ABOUT</v-btn>
            <v-btn class="colorBtn">MY WORKS</v-btn>
            <v-btn class="colorBtn">CONTACT</v-btn>
          </v-toolbar-items>
        </v-layout>
      </v-container>
    </v-layout>
  </v-app-bar>
</template>

<style scoped>
.colorBtn {
  color: white;
}
</style>
